.scroll-bar {
    .body-text {
        margin-top: 20px;
        p{
            font-size: 8px;
        }
    }
    .btn-link {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }
}