.scroll-bar {
    .body-text {
        margin-top: 10px;
        padding-left: 12%;
    }
    .btn-link {
        display: flex;
        padding-left: 12%;
        justify-content: space-evenly;
        margin-top: 10px;
    }
}