.list{
    background-color: rgb(226, 232, 240);
    padding: 1.4em;
    text-align: center;
    width: 100%;
}
.jGcyNd{
    width: 100%;
}
.dEtwTY{
    width: 100%!important;
}
.editing-page{
    min-height: 20vh;
    width: 100%;
    margin: 20px auto;
    margin-top: 20px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;                            
    position: relative;
    
}
.quill-container{
    width: 95%;
    margin: 0 auto;
}
.daVWzR{
    width: 100%!important;
}
.sc-dlniIP{
    width: 100%!important;
}
.sc-hKFymg{
    width: 100%!important;
}
.delete-icon{
    cursor: pointer;
    color: rgb(223, 58, 58);
    font-size: 20px;
}
.delete-icon:hover{
    cursor: pointer;
    color: rgb(223, 150, 150);
    font-size: 20px;
}