.border-box {
    margin-top: 10px;
    border: 2px solid #000;
    position: relative;
    padding-top: 20px; 
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.input-tag {
    width: 150px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: none;
    font-size: 20px;
  }
  .input-tag:focus {outline:none!important;}
  .individual-section{
    background-color: rgb(226, 232, 240);
    height: 90px;
    text-align: center;
    padding: 0 8px;
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
}
.label-group{
    margin: 0;
    text-align: center;
}