.video-container{
    border: 1px solid #57b0fb;
    margin-top: 10px;
    background: linear-gradient(to right, #ee9ca7, #ffdde1); ;
    height: 30vh;
    box-shadow: (0, 0, 0, 0.4) 0px 0px 8px inset;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    .video-link{
        border: none;
        width: 60%;
        height: 20%;
        border-radius: 5px;
    }
    .video-link:focus{
        outline: none;
    }
    .delete-icon{
        position: absolute;
        top: -1%;
        right: 2%;
        cursor: pointer;
        color: rgb(223, 58, 58);
        font-size: 25px;
    }
    .delete-icon:hover{
        color: wheat;
    }
}