.buttontext-container{
    border-radius: 3px;
    border: 1px solid #1292ee;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    .buttontext{
        position: relative;
        background-color: #1292ee;
        border-radius: 5px;
        width: 90%;
        height: 70px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        .input-box{
            height: 80%;
            margin: auto;
            width: 90%;
            background-color: transparent;
            border: none;
            text-align: center;
            font-size: 25px;
        }
        .input-box:focus{
            outline: none;
        }
        .placeholder{
            position: absolute;
            left: 37%;
            font-size: 25px;
            color: rgb(236, 239, 240);
        }
    }
    .delete-icon-button{
        position: absolute;
        top: 2%;
        right: 1%;
        cursor: pointer;
        color: rgb(223, 58, 58);
        font-size: 25px;
    }
    .delete-icon-button:hover{
        color: wheat;
    }
}
