.scroll-bar{
    .service-topic {
        .topic-header{
            font-size: 10px;
            color: #736e6e;
        }
        .topic-header-active{
            font-size: 12px;
            font-weight: 600;
        }
        .topic-content{
            font-size: 7px;
            color: #736e6e;
        }
        .topic-content-active{
            font-size: 9px;
            color: #736e6e;
        }
    }
    .keep-everyone {
    }
}