.list{
    background-color: rgb(226, 232, 240);
    height: 90px;
    text-align: center;
    padding: 0 8px;
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.jGcyNd{
    width: 100%;
}
.dEtwTY{
    width: 100%!important;
}
.editing-page{
    min-height: 20vh;
    width: 100%;
    margin: 20px auto;
    margin-top: 20px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;                            
    position: relative;
    
}
.quill-container{
    width: 95%;
    margin: 0 auto;
}
.daVWzR{
    width: 100%!important;
}
.sc-dlniIP{
    width: 100%!important;
}
.sc-hKFymg{
    width: 100%!important;
}
.delete-icon{
    cursor: pointer;
    color: rgb(168, 166, 166);
    font-size: 30px;
}
.delete-icon:hover{
    cursor: pointer;
    color: rgb(183, 183, 182);
    font-size: 30px;
}
.bulletin-title{
    margin-left: 10px;
    font-size: 15px;
}
.invite_icon{
    width: 30px;
    vertical-align:top;
    margin-right: 10px;
}
.sc-jSFipO{
    width: 100%!important;
}
.sc-eCAqax{
    width: 100%!important;
}