.form-container{
    margin-left: 5vw;
    margin-top: 3vh;
    .upload-container{
        margin:0 auto;
        border: dashed #808080;
        height: 200px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
    }
    
}