.scroll-bar {
    .dateContainer{
        display: flex;
        flex-direction: column;
        .date{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin:2%;
            .date-icon{
                width: 15%;
            }
            .date-content{
                width: 30%;
            }
        }
        .location{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin:2%;
            .location-icon{
                width: 15%;
            }
            .location-content{
                width: 30%;
            }
        }
    }
    .body-text{
        font-size: 8px;
    }
}